body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("C:\\Users\\priya\\my-react-app\\src\\assets\\h1_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color:#fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0 0 20px 0;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #34ed50;
    border-radius: 3px;
    font-size: 16px;
}


button {
    background-color: #34ed50;
    color: #060505;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

table, th, td {
    border: 2px solid #34ed50;
    width: 500px;
    background-color:#fff;
  }
